# Markdown (osim README.md)
*.md
!README.md

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Rezultati i podaci (opciono, zakomentiši ako hoćeš da pratiš)
# results/
# data/raw/
# data/processed/

# OS
.DS_Store
Thumbs.db